name: Release

on:
  push:
    tags:
      - 'v*'
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      GOOS: linux
      GOARCH: amd64
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Download dependencies
        run: go mod download

      - name: Test
        env:
          CGO_ENABLED: 0
        run: go test ./...

      - name: Test Race
        run: go test -race ./...
  release:
    name: Go Releaser
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/Jod
          cache-dependency-path: 'www/pnpm-lock.yaml'
          cache: 'pnpm'

      - name: Build Frontend
        working-directory: www
        run: |
          GITIGNORE_CONTENTS=$(cat out/.gitignore)
          pnpm install
          pnpm run build
          echo "$GITIGNORE_CONTENTS" > out/.gitignore

      - name: Download dependencies
        run: go mod download

      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: "~> v1"
          args: release --clean --skip=validate
        env:
          GITHUB_TOKEN: ${{ github.token }}
  docker:
    name: Docker Release
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      PLATFORMS: linux/amd64,linux/arm64,linux/arm/v7

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/Jod
          cache-dependency-path: 'www/pnpm-lock.yaml'
          cache: 'pnpm'

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index
        with:
          images: "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}"
          tags: |
            type=semver,pattern={{version}}
            latest
          labels: |
            maintainer=UnAfraid
            org.opencontainers.image.vendor=UnAfraid
            org.opencontainers.image.documentation=https://github.com/UnAfraid/wg-ui
            org.opencontainers.image.description=Self-contained WireGuard management service with a web UI and GraphQL API written in pure Go.
          annotations: |
            maintainer=UnAfraid
            org.opencontainers.image.vendor=UnAfraid
            org.opencontainers.image.documentation=https://github.com/UnAfraid/wg-ui
            org.opencontainers.image.description=Self-contained WireGuard management service with a web UI and GraphQL API written in pure Go.

      - name: Build Frontend
        working-directory: www
        run: |
          GITIGNORE_CONTENTS=$(cat out/.gitignore)
          pnpm install
          pnpm run build
          echo "$GITIGNORE_CONTENTS" > out/.gitignore

      - name: Build and push image to GHCR
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: ${{ env.PLATFORMS }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
